body {
    width: 100%;
 /* overflow-x: hidden; */
}


header {
    padding-top:400px;
    width: 100%;
    height: 400px;
    background-image: url('https://images.unsplash.com/photo-1517685645259-c6caddb7165d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');
   
    background-size: cover;

} 

header h1 {

    font-family: 'Lobster', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Courgette', cursive;

    border-bottom: 1px solid #b7b4b4;

    text-align: center;
    text-transform: uppercase;
    word-spacing: 15px;
    letter-spacing: 15px;

    margin-top: 20px;
}
header p {
   
    text-align: center;
    /*text-transform: uppercase; */
    font-size: 20px;
    font-family: 'Major Mono Display', monospace ;
    font-family: 'IBM Plex Mono', monospace;
    font-family: 'Share Tech Mono', monospace;
    font-family: 'Cutive Mono', monospace;
    /*color: orangered; */
}
nav li a {
    font-weight: bold;

}
nav.navbar {
    z-index: 99;
    position:fixed !important;
    top: 0px;
    left: 0;
    width: 100%;
    /* background: rgba(255, 255, 255, 0.7); */
}
nav .navbar-nav li a{
    margin: 0 10px;
    height: 2px;
    
    /*background: rgba(255, 255, 255, 0.7); */
    border-radius: 10px;
    color: rgb(245, 242, 241) !important;
    /*text-align: center; */
}
nav .navbar-nav {
    margin: auto;
    font-family: 'Dancing Script', cursive;
    font-size: 20px;
    padding: 15px;
    
}
.title {
  
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    /*padding: 10px; */
    border-radius: 5px;
}
#catalog {
    /* height: 300px; */
    padding: 50px 0 50px;
}
/* #catalog img {
    width: 120px;
} */
#catalog  {
    padding: 15px;
    border-radius: 10px;
    margin-top: 50px;
}

.catalog {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    
}
#catalog h2 {
    margin-bottom: 20px;
    font-size: 20px;
}

.catalog{
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    padding-bottom: 25px;
    /* border-bottom: 1px solid orangered; */
}

.row h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}
.row.work {
    margin-top: 80px;
}

.block {
    padding: 55px 45px;
}

.block-orange {
    background:  #393f4d;;
    
    color: white;
    padding: 50px 40px;
}
.block-orange .row div{
    text-align: center;
}
.block-orange .row p{
    margin-top: 20px;
}
.block-orange h2 {
    /*border-bottom: 1px solid white; */
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
} 
.block {
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
}

/*h2 {
    width: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding-top: 210px;


} */

.container {
    margin-top: -50px;
}


#comments {
    border:1px solid black;
    padding:  20px;
}