{% extends 'base.html.twig' %}

{% block title %}{{verb}} pizza{% endblock %}

{% block body %}

    <div class="col-6">
        {% if oldImage is not empty %}
        <p>Image:</p>
        <img src="{{asset('uploads/images/' ~ oldImage )}}" height="100px" width="100px" alt="">            
        {% endif %}
        {{form_start(form)}}
        {{form_widget(form)}}
        <button class="btn btn-primary">{{verb}}</button>
  
        {{form_end(form)}}
    </div>
  

{% endblock %}

