{% extends "base.html.twig" %}


{% block body %}





{% block articles %}

<article>

  

  <a href="{{path('all_pizza' , {filt:'asc'} )}}">Filtre</a>
 
  <a href="{{path('all_pizza' , {filt:'desc'} )}}">Filtre2</a>


  {% if is_granted('ROLE_ADMIN') %}
  <a class="m-2 btn btn-primary" href="{{path('add_pizza')}}">Add Pizza</a>

  {% endif %}

  <div class="row">
    
    {% for row in pizza %}
    <div class="col-4">
      <div class="card m-2" style="width: 18rem;">
        <img src="{{asset('uploads/images/' ~ row.image )}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{row.name}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{ row.description}}</h6>
          <p class="card-text"> {{row.price}} € </p>
          <a href="{{path('one_pizza', {pizza:row.id})}}">Show more</a>
          {% if is_granted('ROLE_ADMIN') %}
          <a class="btn btn-danger" href="{{path('remove_pizza', {pizza:row.id})}}">Delete</a>
          <a class="btn btn-danger" href="{{path('modify_pizza', {pizza:row.id})}}">Modify</a>
          {% endif %}



        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock articles %}

{% endblock body %}