{% extends 'base.html.twig' %}

{% block title %}Hello PizzaController!{% endblock %}

{% block body %}


    {# <div class="container">
        <div class="row">
            <div id="catalog" class="col-sm-12">
                <h2>Catalog</h2>
                <p class="catalog">Some text...

                <div class="row work">
                    <div class="col-sm-12 col-md-4">
                        <h3>Our work</h3>

                        <p></p>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <h3>Infos</h3>

                        <p></p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <h3>Contact us</h3>

                        <p>pizza9@gmail.com</p>
                        <p>
                            <a target="_blank" href="https://gitlab.com/isufiliridona.simplon"><img src="images/gitlab-logo-gray-rgb.png"
                                    alt="gitlab-logo-gray-rgb"></a>
                        </p>
                        <p>
                            <a target="_blank" href="https://gitlab.com/isufiliridona.simplon"><img src="images/gitlab-logo-gray-rgb.png"
                                    alt="gitlab-logo-gray-rgb"></a>
                        </p>
                        <p>
                            <a target="_blank" href="http://pngimg.com/uploads/pizza/pizza_PNG44077.png"><img src="images/gitlab-logo-gray-rgb.png"
                                    alt="gitlab-logo-gray-rgb"></a>
                        </p>
                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 block-orange">
                <h2>Pizza Images</h2>
                <div class="row">
                    <div class="col-sm-12 col-md-4">
                        <img src="http://pngimg.com/uploads/pizza/pizza_PNG44095.png" style="width:150px; height:150px;" alt="pizza1">
                        <p>Pizza1</p>
                    </div>

                    <div class="col-sm-12 col-md-4">
                        <img src="http://pngimg.com/uploads/pizza/pizza_PNG44092.png" style="width:150px; height:150px;" alt="pizza2">
                        <p>Pizza2</p>
                    </div>
                    <div class="col-sm-12 col-md-4">
                        <img src="http://pngimg.com/uploads/pizza/pizza_PNG44095.png" style="width:150px; height:150px;" alt="pizza3">
                        <p>Pizza3</p>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
       <h1>Work in progress...</h1>      
{% endblock %}
