{% extends "base.html.twig" %}

{% block body %}


<div class="row justify-content-center">

        <div class="card col-10 text-center">
                <img src="{{asset('uploads/images/' ~ pizza.image )}}" class="card-img-top" alt="...">
                <div class="card-header">
                        <h5 class="card-title">{{pizza.name}}</h5>
                </div>
                <div class="card-body">
                        <h6 class="card-title">{{pizza.size}}</h6>
                        <p class="card-text">{{pizza.description}}</p>
                </div>
                <div class="card-footer">
                        <a href="#" class="btn btn-primary">Buy</a>
                        <a href=" {{path ('add_favorite', {pizza:pizza.id}) }} " class="btn btn-primary">Make favorite</a>
                        

                </div>
        </div>


{% for comment in pizza.comments %}

<div class="col-8">

<hr>
<div id="comments">
        <a class="btn btn-danger" href="{{path('remove_comment', {id:comment.id})}}">Delete</a>

<h5> {{comment.user.name}} </h5>
<h6> {{comment.title}} </h6>
<p> {{comment.content}} </p> 
</div>
</div>
{% endfor %}

<div class="col-6">
                <br>
                <h3>Add Comments</h3>
                {{form_start(form)}}
                {{form_widget(form)}}
                <button class="btn btn-primary">Add comment</button>
                {{form_end(form)}}
         </div>
</div>

{% endblock body %}