<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>{% block title %}Welcome!{% endblock %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% block stylesheets %}   
    <link href="https://fonts.googleapis.com/css?family=Courgette|Lobster|Permanent+Marker" rel="stylesheet">
    <link href="{{ asset('style/style-by-me.css') }}" rel="stylesheet"/>
    {# <link href="{{ asset('style/navbar.css') }}" rel="stylesheet"/> #}
    <style>
        .custom-file-label { opacity: 0; }
.custom-file-input { opacity: 1; }
    </style>
    {% endblock %}

</head>


<body>
    <div class="row">


        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" href=" {{path('home')}} ">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#about-us">About us</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{path('all_pizza', {filt:'asc'})}}">Catalog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contacts</a>
                    </li>


                    {% if app.user %}
                        <a class="mr-2 btn btn-warning" href=" {{path('logout')}} ">Logout</a>
                        <a class="btn btn-warning" href=" {{path('favorite')}} ">Favorites</a>
                    {% else %}
                        <a class="mr-2 btn btn-warning" href=" {{path('login')}} ">Login</a>
                        <a class="btn btn-warning" href=" {{path('register')}} ">Sign up!</a>
                    {% endif %}

                </ul>
                
            </div>
        </nav>
    </div>
    <header>
        {# <div class="title col-sm-12 col-md-4 offset-md-4">
            <h1>Welcome to Pizza'9</h1>
            <p>some text...</p>
        </div> #}
    </header>

        {% block body %}{% endblock %}

        {# <div class="col-2 aside"> #}

        </div>


        


    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

        <script src="javascripts/jquery.js"></script>



{% endblock %}
</body>

</html>
