{% extends 'base.html.twig' %}

{% block title %}Hello FavoriteController!{% endblock %}

{% block body %}
{% for pizza in pizzas %}
<p>{{pizza.name}}</p>
<p>{{pizza.price}}</p>
<p>{{pizza.size}}</p>
<p>{{pizza.description}}</p>

{% endfor %}
{% endblock %}
