{% extends "base.html.twig" %}

{% block title %}
    Login
{% endblock title %}

{% block body %}
{% if errors %}
<div class="alert alert-danger">{{ errors.messageKey|trans(errors.messageData, 'security') }}</div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        <form action="{{path('login')}}" method="post">
          <div class="form-group">
             <label for="email">Email</label>
             <input type="text" name="_username" class="form-control" id="email" value="{{username}}">
           </div>
           <div class="form-group">
              <label for="password">Password</label>
              <input type="password" name="_password" class="form-control" id="password">
            </div>

            <button class="btn btn-primary">Login</button>
        </form>
    </div>
</div>
{% endblock body %}

