{% extends "base.html.twig" %}

{% block title %}
    Register a user
{% endblock title %}

{% block body %}
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-secondary">Sign up</button>
    {{ form_end(form) }}
{% endblock body %}